/node_modules
Homestead.yaml
Homestead.json
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
storage/logsUser.txt
.idea/blade.xml
_ide_helper.php
PinAssignment.txt
.idea/webServers.xml
.idea/deployment.xml
.env
CONFIG.json
/vendor
.idea/LaravelServe.iml
.idea/php.xml
vendor/
.vscode/
